@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap");
.fluid-container {
  margin: 100px;
}
.bot {
  padding-left: 50px;
}
h2 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-size: 50px;
}
h3 {
  font-size: medium;
}
h4 {
  font-size: larger;
  font-weight: 100;
  font-style: italic;
}
h1 {
  font-size: 30px;
}
.space {
  margin-left: 0px;
  text-align: center;
  align-items: center;
}
.row .center-img {
  text-align: center;
  align-items: center;
}
.containter .plot {
  width: 75%;
}

@media (max-width: 970px) {
  .containter .plot {
    text-align: center;
    align-items: center;
    width: 100%;
    padding: 0 40px 0 40px;
  }
  img,
  .cent {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .bot {
    padding-left: 0px;
    padding-bottom: 50px;
    text-align: center;
  }
  .fluid-container {
    margin: 10px;
  }
  .start {
    padding-left: 0;
    text-align: center;
    padding-bottom: 10px;
  }
}
