.center {
  padding-top: 100px;
  display: flex;
  justify-content: center;
  height: 100vh;
}

.not {
  color: red;
  padding: 50px 0 0 0;
  text-align: center;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}

.height {
  height: 100vh;
}
